################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/EasMe/bin
/src/EasMe/obj
/src/EasMe.Box/bin
/src/EasMe.Box/obj
bin
obj
log
logs